# Default NAMESPACE created by R
# Remove the previous line if you edit this file




# Import all packages listed as Imports or Depends
#import("stats","Rcpp")
#exportPattern("^[[:alpha:]]+")



useDynLib(KODAMA)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot", "points")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats","quantile", "wilcox.test","cmdscale", "as.dist", "dist", "kmeans", "kruskal.test","median", "pnorm", "rnorm", "runif", "sd", "var")
exportPattern(KODAMA,k.test,loads,mcplot,sammon_cpp,core_cpp,floyd,pls.double.cv,knn.double.cv,knn.kodama,pls.kodama,dinisurface,helicoid,spirals,swissroll,normalization,scaling,transformy)


